In [1]:
import mysql.connector
import re
import config
import requests
import json
import time


def convert_to_int(string):
    clean_string = re.sub('\W+','', string )
    return int(clean_string)


def rt_rating(movie):
    for rating in movie['Ratings']:
        if rating['Source'] == "Rotten Tomatoes":
            rt_v = rating['Value']
            return convert_to_int(rt_v)
        

def connect_to_db():
    cnx = mysql.connector.connect(
    host=config.host, user=config.user, passwd=config.password, database=config.DB_NAME)
    cursor = cnx.cursor()
    return cnx, cursor


def convert_list_from_tuples(tuple_list):
    """The movie titles are retrieved as a list of tupes, 
    return instead a list with just the title from the first half of each tuple"""
    title_list = []
    for item in tuple_list:
        title_list.append(item[0])
    return title_list
    

def get_all_movie_info():
    select_q = """
                SELECT *
                FROM movies
                """
    cnx, c = connect_to_db()
    c.execute(q)
    results = c.fetchall()
    cnx.close()
    c.close()
    return results

def get_movie_names():
    name_q = """
            SELECT title
            FROM movies"""
    cnx, c = connect_to_db()
    c.execute(name_q)
    results = c.fetchall()
    cnx.close()
    c.close()
    title_list = convert_list_from_tuples(results) 
    return title_list

titles = get_movie_names()
titles[:5]

['Lock, Stock and Two Smoking Barrels',
 'Taxi Driver',
 'Perfect Blue',
 'Star Wars',
 'Wolf Children']

In [2]:
def check_data_fields(data, list_of_fields):
    """Takes in a dictionary and a list of all keys that must be in that dictionary
        returns false if any of those keys are not contained"""
    exists = True
    for field in list_of_fields:
        if field not in data:
            exists = False        
    return exists

def omdb_api(movies):
    """This function retrieves the movie deatils for list of given movies using omdb api"""
    movies_details = []
    for title in movies:
        title.replace(" ", "+")
        url = f'http://www.omdbapi.com/?apikey={config.omdb_api}&t={title}'
        response = requests.get(url)
        movie = response.json()
        #check to make sure each key is always in the dict
        necessary_fields = ['Director', 'BoxOffice', 'Ratings', 'Title']
        if check_data_fields(movie, necessary_fields):
            #4 necessary fields, title is important for the insert statement query later
            movie_dict = {'director': movie['Director'],
                          'boxoffice': movie['BoxOffice'],
                          'rt_rating': rt_rating(movie),
                          'title': movie['Title']}
            movies_details.append(movie_dict)
        time.sleep(.2)
        
    
    return movies_details

In [3]:
two = omdb_api(titles[0:2])
two

[{'director': 'Guy Ritchie',
  'boxoffice': 'N/A',
  'rt_rating': 75,
  'title': 'Lock, Stock and Two Smoking Barrels'},
 {'director': 'Martin Scorsese',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'Taxi Driver'}]

In [4]:

def add_omdb_values_to_movies():
    """Add box office, director and rotten tomatoes rating 
    from the omdb to our pre-existing movies DB"""
    
    #retrieve all movie names and pass to omdb_api to get a 
    #list of dictionaries with values of directora nd box_office and rating
    all_titles = get_movie_names()
    omdb_values = omdb_api(all_titles)
    return omdb_values
#     for value_set in omdb_values:
#         insert_omdb_values(list(value_set.values()))

omdb_values = add_omdb_values_to_movies()
omdb_values

[{'director': 'Guy Ritchie',
  'boxoffice': 'N/A',
  'rt_rating': 75,
  'title': 'Lock, Stock and Two Smoking Barrels'},
 {'director': 'Martin Scorsese',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'Taxi Driver'},
 {'director': 'Satoshi Kon',
  'boxoffice': 'N/A',
  'rt_rating': 77,
  'title': 'Perfect Blue'},
 {'director': 'George Lucas',
  'boxoffice': 'N/A',
  'rt_rating': 93,
  'title': 'Star Wars: Episode IV - A New Hope'},
 {'director': 'Mamoru Hosoda',
  'boxoffice': 'N/A',
  'rt_rating': 94,
  'title': 'Wolf Children'},
 {'director': 'Kar-Wai Wong',
  'boxoffice': 'N/A',
  'rt_rating': 87,
  'title': 'Chungking Express'},
 {'director': 'Christopher Nolan',
  'boxoffice': '$53,100,000',
  'rt_rating': 76,
  'title': 'The Prestige'},
 {'director': 'Martin Scorsese',
  'boxoffice': '$125,001,000',
  'rt_rating': 68,
  'title': 'Shutter Island'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 96,
  'title': 'Ran'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Sanjuro'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Yojimbo'},
 {'director': 'Peter Jackson',
  'boxoffice': '$314,000,000',
  'rt_rating': 91,
  'title': 'The Lord of the Rings: The Fellowship of the Ring'},
 {'director': 'Peter Jackson',
  'boxoffice': '$339,700,000',
  'rt_rating': 95,
  'title': 'The Lord of the Rings: The Two Towers'},
 {'director': 'Peter Jackson',
  'boxoffice': '$364,000,000',
  'rt_rating': 93,
  'title': 'The Lord of the Rings: The Return of the King'},
 {'director': 'David Yates',
  'boxoffice': '$381,000,185',
  'rt_rating': 96,
  'title': 'Harry Potter and the Deathly Hallows: Part 2'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 94,
  'title': 'High and Low'},
 {'director': 'Hayao Miyazaki, Kirk Wise',
  'boxoffice': '$9,855,615',
  'rt_rating': 97,
  'title': 'Spirited Away'},
 {'director': 'Robert Zemeckis',
  'boxoffice': '$330,000,000',
  'rt_rating': 72,
  'title': 'Forrest Gump'},
 {'director': 'Andrei Tarkovsky',
  'boxoffice': '$5,233',
  'rt_rating': 85,
  'title': 'Nostalgia'},
 {'director': 'Andrei Tarkovsky',
  'boxoffice': '$268,101',
  'rt_rating': 100,
  'title': 'Stalker'},
 {'director': 'Masaki Kobayashi',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Harakiri'},
 {'director': 'Kenji Mizoguchi',
  'boxoffice': '$6,154',
  'rt_rating': 100,
  'title': 'Ugetsu'},
 {'director': 'Isao Takahata',
  'boxoffice': '$408,718',
  'rt_rating': 100,
  'title': 'The Tale of The Princess Kaguya'},
 {'director': 'Orson Welles',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Citizen Kane'},
 {'director': 'Christopher Nolan',
  'boxoffice': '$533,316,061',
  'rt_rating': 94,
  'title': 'The Dark Knight'},
 {'director': 'Christopher Nolan',
  'boxoffice': '$158,737,441',
  'rt_rating': 72,
  'title': 'Interstellar'},
 {'director': 'Hwan-kyung Lee',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'Miracle in Cell No. 7'},
 {'director': 'Stanley Kubrick',
  'boxoffice': 'N/A',
  'rt_rating': 90,
  'title': 'A Clockwork Orange'},
 {'director': 'Aditya Chopra',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'Dilwale Dulhania Le Jayenge'},
 {'director': 'Michael Powell, Emeric Pressburger',
  'boxoffice': 'N/A',
  'rt_rating': 96,
  'title': 'The Red Shoes'},
 {'director': 'Francis Ford Coppola',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'The Godfather'},
 {'director': 'Billy Wilder',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Some Like It Hot'},
 {'director': 'Francis Ford Coppola',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'The Godfather: Part II'},
 {'director': 'Dino Risi',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Il Sorpasso'},
 {'director': 'Mario Monicelli',
  'boxoffice': 'N/A',
  'rt_rating': 89,
  'title': 'Big Deal on Madonna Street'},
 {'director': 'Hirokazu Koreeda',
  'boxoffice': '$491,773',
  'rt_rating': 93,
  'title': 'Nobody Knows'},
 {'director': 'Elem Klimov',
  'boxoffice': 'N/A',
  'rt_rating': 96,
  'title': 'Come and See'},
 {'director': 'Christopher Nolan',
  'boxoffice': '$292,568,851',
  'rt_rating': 87,
  'title': 'Inception'},
 {'director': 'Jonathan Demme',
  'boxoffice': 'N/A',
  'rt_rating': 96,
  'title': 'The Silence of the Lambs'},
 {'director': 'Frank Darabont',
  'boxoffice': 'N/A',
  'rt_rating': 91,
  'title': 'The Shawshank Redemption'},
 {'director': 'Sion Sono',
  'boxoffice': 'N/A',
  'rt_rating': 90,
  'title': 'Love Exposure'},
 {'director': 'Charles Chaplin',
  'boxoffice': 'N/A',
  'rt_rating': 95,
  'title': 'The Circus'},
 {'director': 'Luis Buñuel',
  'boxoffice': 'N/A',
  'rt_rating': 95,
  'title': 'The Exterminating Angel'},
 {'director': 'Anthony Russo, Joe Russo',
  'boxoffice': '$664,987,816',
  'rt_rating': 85,
  'title': 'Avengers: Infinity War'},
 {'director': 'Charles Chaplin',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Monsieur Verdoux'},
 {'director': 'Roberto Rossellini',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Rome, Open City'},
 {'director': 'Charles Chaplin',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Modern Times'},
 {'director': 'Sergio Leone',
  'boxoffice': 'N/A',
  'rt_rating': 86,
  'title': 'Once Upon a Time in America'},
 {'director': 'Mel Gibson',
  'boxoffice': '$67,115,062',
  'rt_rating': 85,
  'title': 'Hacksaw Ridge'},
 {'director': 'Bob Persichetti, Peter Ramsey, Rodney Rothman',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Spider-Man: Into the Spider-Verse'},
 {'director': 'Garth Davis',
  'boxoffice': '$51,694,854',
  'rt_rating': 85,
  'title': 'Lion'},
 {'director': 'Sergio Leone',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'Once Upon a Time in the West'},
 {'director': 'Lee Unkrich, Adrian Molina(co-director)',
  'boxoffice': '$208,487,719',
  'rt_rating': 97,
  'title': 'Coco'},
 {'director': 'Martin McDonagh',
  'boxoffice': '$52,000,189',
  'rt_rating': 90,
  'title': 'Three Billboards Outside Ebbing, Missouri'},
 {'director': 'Makoto Shinkai',
  'boxoffice': '$4,676,810',
  'rt_rating': 97,
  'title': 'Your Name.'},
 {'director': 'Billy Wilder',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Witness for the Prosecution'},
 {'director': 'Naoko Yamada',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'A Silent Voice'},
 {'director': 'Luca Guadagnino',
  'boxoffice': 'N/A',
  'rt_rating': 95,
  'title': 'Call Me by Your Name'},
 {'director': 'Alan Barillaro',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'Piper'},
 {'director': 'Steven Spielberg',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': "Schindler's List"},
 {'director': 'Sergio Leone',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'The Good, the Bad and the Ugly'},
 {'director': 'Daniel Rezende',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'Bingo: The King of the Mornings'},
 {'director': 'Federico Fellini',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'La Dolce Vita'},
 {'director': 'Greg Berlanti',
  'boxoffice': 'N/A',
  'rt_rating': 92,
  'title': 'Love, Simon'},
 {'director': 'Esteban Bravo, Beth David',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'In a Heartbeat'},
 {'director': 'Denis Villeneuve',
  'boxoffice': '$6,857,096',
  'rt_rating': 93,
  'title': 'Incendies'},
 {'director': 'Gus Van Sant',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Good Will Hunting'},
 {'director': 'Ingmar Bergman',
  'boxoffice': 'N/A',
  'rt_rating': 93,
  'title': 'The Seventh Seal'},
 {'director': 'Peter Farrelly',
  'boxoffice': 'N/A',
  'rt_rating': 78,
  'title': 'Green Book'},
 {'director': 'Joon-ho Bong',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'Parasite'},
 {'director': 'Frank Darabont',
  'boxoffice': 'N/A',
  'rt_rating': 79,
  'title': 'The Green Mile'},
 {'director': 'Quentin Tarantino',
  'boxoffice': 'N/A',
  'rt_rating': 91,
  'title': 'Reservoir Dogs'},
 {'director': 'Tate Taylor',
  'boxoffice': '$169,705,587',
  'rt_rating': 76,
  'title': 'The Help'},
 {'director': 'Kenji Nagasaki',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'My Hero Academia: Two Heroes'},
 {'director': 'Justin Baldoni',
  'boxoffice': 'N/A',
  'rt_rating': 55,
  'title': 'Five Feet Apart'},
 {'director': 'Amy Andre',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': 'On My Skin'},
 {'director': 'Alfred Hitchcock',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Psycho'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'Rashomon'},
 {'director': 'David Fincher',
  'boxoffice': 'N/A',
  'rt_rating': 79,
  'title': 'Fight Club'},
 {'director': 'Lana Wachowski, Lilly Wachowski',
  'boxoffice': 'N/A',
  'rt_rating': 88,
  'title': 'The Matrix'},
 {'director': 'Roberto Benigni',
  'boxoffice': 'N/A',
  'rt_rating': 80,
  'title': 'Life Is Beautiful'},
 {'director': 'Elia Kazan',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'On the Waterfront'},
 {'director': 'Quentin Tarantino',
  'boxoffice': 'N/A',
  'rt_rating': 92,
  'title': 'Pulp Fiction'},
 {'director': 'Joseph L. Mankiewicz',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': 'All About Eve'},
 {'director': 'Paul Thomas Anderson',
  'boxoffice': '$40,133,435',
  'rt_rating': 91,
  'title': 'There Will Be Blood'},
 {'director': 'Christopher Nolan',
  'boxoffice': '$23,844,220',
  'rt_rating': 92,
  'title': 'Memento'},
 {'director': 'Olivier Nakache, Éric Toledano',
  'boxoffice': '$13,179,837',
  'rt_rating': 75,
  'title': 'The Intouchables'},
 {'director': 'Carl Theodor Dreyer',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'The Passion of Joan of Arc'},
 {'director': 'Fritz Lang',
  'boxoffice': '$17,599',
  'rt_rating': 100,
  'title': 'M'},
 {'director': 'Vittorio De Sica',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Umberto D.'},
 {'director': 'Hayao Miyazaki',
  'boxoffice': 'N/A',
  'rt_rating': 94,
  'title': 'My Neighbor Totoro'},
 {'director': 'Kar-Wai Wong',
  'boxoffice': 'N/A',
  'rt_rating': 90,
  'title': 'In the Mood for Love'},
 {'director': 'Steven Spielberg',
  'boxoffice': 'N/A',
  'rt_rating': 93,
  'title': 'Saving Private Ryan'},
 {'director': 'Stanley Donen, Gene Kelly',
  'boxoffice': 'N/A',
  'rt_rating': 100,
  'title': "Singin' in the Rain"},
 {'director': 'Jatarius Jarrett',
  'boxoffice': 'N/A',
  'rt_rating': None,
  'title': "Michael Jackson's Thriller: Re-enactment"},
 {'director': 'Stanley Kubrick',
  'boxoffice': 'N/A',
  'rt_rating': 98,
  'title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'},
 {'director': 'Clyde Bruckman, Buster Keaton',
  'boxoffice': 'N/A',
  'rt_rating': 92,
  'title': 'The General'},
 {'director': 'Akira Kurosawa',
  'boxoffice': 'N/A',
  'rt_rating': 71,
  'title': 'Dersu Uzala'},
 {'director': 'Billy Wilder',
  'boxoffice': 'N/A',
  'rt_rating': 97,
  'title': 'Double Indemnity'}]

In [14]:
#to account for when rt_rating or box_office doesn't exist, we have different sql statements for each case
def determing_insert_query(values):
    director = values[0]
    box_office = values[1]
    rt_rating = values[2]
    title = values[3]
    #both box office and rating are absent
    if box_office == 'N/A' and rt_rating == None:
        return f"""UPDATE movies
                    SET 
                        director = "{director}"
                    WHERE title = "{title}";"""
    #box office is absent
    elif box_office == 'N/A':
        return f"""UPDATE movies
                    SET 
                        director = "{director}", 
                        rt_ratings = '{rt_rating}'
                    WHERE title = "{title}";"""
    #rating is absent
    elif rt_rating == None:
        return f"""UPDATE movies
                    SET 
                        director = "{director}", 
                        box_office = '{box_office}'
                    WHERE title = "{title}";"""
    #all accounted for
    else:
        return f"""UPDATE movies
                    SET 
                        director = "{director}", 
                        box_office = '{box_office}', 
                        rt_ratings = '{rt_rating}'
                    WHERE title = "{title}";"""

In [15]:
def insert_omdb_values(values):
    insert_q = determing_insert_query(values)
    cnx, c = connect_to_db()
    c.execute(insert_q)
    cnx.commit()
    c.close
    cnx.close

In [16]:

#to test to see if title = {title} actually matches anything
def check_title_match(values):
    title = values[3]
    insert_q = f"""SELECT title, movie_id
            FROM movies
            WHERE title = "{title}";"""
    cnx, c = connect_to_db()
    c.execute(insert_q)
    result = c.fetchall()
    c.close
    cnx.close
    return result

In [17]:
for value_set in omdb_values:
    values = list(value_set.values())
    #call check title, and if it's not empty
    if not len(check_title_match(values)) == 0:
        insert_omdb_values(values)

UPDATE movies
                    SET
                        director = "Guy Ritchie",
                        rt_ratings = '75'
                    WHERE title = "Lock, Stock and Two Smoking Barrels";
UPDATE movies
                    SET
                        director = "Martin Scorsese",
                        rt_ratings = '98'
                    WHERE title = "Taxi Driver";
UPDATE movies
                    SET
                        director = "Satoshi Kon",
                        rt_ratings = '77'
                    WHERE title = "Perfect Blue";
UPDATE movies
                    SET
                        director = "Mamoru Hosoda",
                        rt_ratings = '94'
                    WHERE title = "Wolf Children";
UPDATE movies
                    SET
                        director = "Kar-Wai Wong",
                        rt_ratings = '87'
                    WHERE title = "Chungking Express";
UPDATE movies
                    SET
                        director = "Christopher Nolan",
                        box_office = '$53,100,000',
                        rt_ratings = '76'
                    WHERE title = "The Prestige";
UPDATE movies
                    SET
                        director = "Martin Scorsese",
                        box_office = '$125,001,000',
                        rt_ratings = '68'
                    WHERE title = "Shutter Island";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '96'
                    WHERE title = "Ran";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '100'
                    WHERE title = "Sanjuro";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '97'
                    WHERE title = "Yojimbo";
UPDATE movies
                    SET
                        director = "Peter Jackson",
                        box_office = '$314,000,000',
                        rt_ratings = '91'
                    WHERE title = "The Lord of the Rings: The Fellowship of the Ring";
UPDATE movies
                    SET
                        director = "Peter Jackson",
                        box_office = '$339,700,000',
                        rt_ratings = '95'
                    WHERE title = "The Lord of the Rings: The Two Towers";
UPDATE movies
                    SET
                        director = "Peter Jackson",
                        box_office = '$364,000,000',
                        rt_ratings = '93'
                    WHERE title = "The Lord of the Rings: The Return of the King";
UPDATE movies
                    SET
                        director = "David Yates",
                        box_office = '$381,000,185',
                        rt_ratings = '96'
                    WHERE title = "Harry Potter and the Deathly Hallows: Part 2";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '94'
                    WHERE title = "High and Low";
UPDATE movies
                    SET
                        director = "Hayao Miyazaki, Kirk Wise",
                        box_office = '$9,855,615',
                        rt_ratings = '97'
                    WHERE title = "Spirited Away";
UPDATE movies
                    SET
                        director = "Robert Zemeckis",
                        box_office = '$330,000,000',
                        rt_ratings = '72'
                    WHERE title = "Forrest Gump";
UPDATE movies
                    SET
                        director = "Andrei Tarkovsky",
                        box_office = '$5,233',
                        rt_ratings = '85'
                    WHERE title = "Nostalgia";
UPDATE movies
                    SET
                        director = "Andrei Tarkovsky",
                        box_office = '$268,101',
                        rt_ratings = '100'
                    WHERE title = "Stalker";
UPDATE movies
                    SET
                        director = "Masaki Kobayashi",
                        rt_ratings = '100'
                    WHERE title = "Harakiri";
UPDATE movies
                    SET
                        director = "Kenji Mizoguchi",
                        box_office = '$6,154',
                        rt_ratings = '100'
                    WHERE title = "Ugetsu";
UPDATE movies
                    SET
                        director = "Isao Takahata",
                        box_office = '$408,718',
                        rt_ratings = '100'
                    WHERE title = "The Tale of The Princess Kaguya";
UPDATE movies
                    SET
                        director = "Orson Welles",
                        rt_ratings = '100'
                    WHERE title = "Citizen Kane";
UPDATE movies
                    SET
                        director = "Christopher Nolan",
                        box_office = '$533,316,061',
                        rt_ratings = '94'
                    WHERE title = "The Dark Knight";
UPDATE movies
                    SET
                        director = "Christopher Nolan",
                        box_office = '$158,737,441',
                        rt_ratings = '72'
                    WHERE title = "Interstellar";
UPDATE movies
                    SET
                        director = "Hwan-kyung Lee"
                    WHERE title = "Miracle in Cell No. 7";
UPDATE movies
                    SET
                        director = "Stanley Kubrick",
                        rt_ratings = '90'
                    WHERE title = "A Clockwork Orange";
UPDATE movies
                    SET
                        director = "Aditya Chopra"
                    WHERE title = "Dilwale Dulhania Le Jayenge";
UPDATE movies
                    SET
                        director = "Michael Powell, Emeric Pressburger",
                        rt_ratings = '96'
                    WHERE title = "The Red Shoes";
UPDATE movies
                    SET
                        director = "Francis Ford Coppola",
                        rt_ratings = '98'
                    WHERE title = "The Godfather";
UPDATE movies
                    SET
                        director = "Billy Wilder",
                        rt_ratings = '97'
                    WHERE title = "Some Like It Hot";
UPDATE movies
                    SET
                        director = "Francis Ford Coppola",
                        rt_ratings = '97'
                    WHERE title = "The Godfather: Part II";
UPDATE movies
                    SET
                        director = "Dino Risi",
                        rt_ratings = '100'
                    WHERE title = "Il Sorpasso";
UPDATE movies
                    SET
                        director = "Mario Monicelli",
                        rt_ratings = '89'
                    WHERE title = "Big Deal on Madonna Street";
UPDATE movies
                    SET
                        director = "Hirokazu Koreeda",
                        box_office = '$491,773',
                        rt_ratings = '93'
                    WHERE title = "Nobody Knows";
UPDATE movies
                    SET
                        director = "Elem Klimov",
                        rt_ratings = '96'
                    WHERE title = "Come and See";
UPDATE movies
                    SET
                        director = "Christopher Nolan",
                        box_office = '$292,568,851',
                        rt_ratings = '87'
                    WHERE title = "Inception";
UPDATE movies
                    SET
                        director = "Jonathan Demme",
                        rt_ratings = '96'
                    WHERE title = "The Silence of the Lambs";
UPDATE movies
                    SET
                        director = "Frank Darabont",
                        rt_ratings = '91'
                    WHERE title = "The Shawshank Redemption";

UPDATE movies
                    SET
                        director = "Sion Sono",
                        rt_ratings = '90'
                    WHERE title = "Love Exposure";
UPDATE movies
                    SET
                        director = "Charles Chaplin",
                        rt_ratings = '95'
                    WHERE title = "The Circus";
UPDATE movies
                    SET
                        director = "Luis Buñuel",
                        rt_ratings = '95'
                    WHERE title = "The Exterminating Angel";
UPDATE movies
                    SET
                        director = "Anthony Russo, Joe Russo",
                        box_office = '$664,987,816',
                        rt_ratings = '85'
                    WHERE title = "Avengers: Infinity War";
UPDATE movies
                    SET
                        director = "Charles Chaplin",
                        rt_ratings = '97'
                    WHERE title = "Monsieur Verdoux";
UPDATE movies
                    SET
                        director = "Roberto Rossellini",
                        rt_ratings = '100'
                    WHERE title = "Rome, Open City";
UPDATE movies
                    SET
                        director = "Charles Chaplin",
                        rt_ratings = '100'
                    WHERE title = "Modern Times";
UPDATE movies
                    SET
                        director = "Sergio Leone",
                        rt_ratings = '86'
                    WHERE title = "Once Upon a Time in America";
UPDATE movies
                    SET
                        director = "Mel Gibson",
                        box_office = '$67,115,062',
                        rt_ratings = '85'
                    WHERE title = "Hacksaw Ridge";
UPDATE movies
                    SET
                        director = "Bob Persichetti, Peter Ramsey, Rodney Rothman",
                        rt_ratings = '97'
                    WHERE title = "Spider-Man: Into the Spider-Verse";
UPDATE movies
                    SET
                        director = "Garth Davis",
                        box_office = '$51,694,854',
                        rt_ratings = '85'
                    WHERE title = "Lion";
UPDATE movies
                    SET
                        director = "Sergio Leone",
                        rt_ratings = '98'
                    WHERE title = "Once Upon a Time in the West";
UPDATE movies
                    SET
                        director = "Lee Unkrich, Adrian Molina(co-director)",
                        box_office = '$208,487,719',
                        rt_ratings = '97'
                    WHERE title = "Coco";
UPDATE movies
                    SET
                        director = "Martin McDonagh",
                        box_office = '$52,000,189',
                        rt_ratings = '90'
                    WHERE title = "Three Billboards Outside Ebbing, Missouri";
UPDATE movies
                    SET
                        director = "Makoto Shinkai",
                        box_office = '$4,676,810',
                        rt_ratings = '97'
                    WHERE title = "Your Name.";
UPDATE movies
                    SET
                        director = "Billy Wilder",
                        rt_ratings = '100'
                    WHERE title = "Witness for the Prosecution";
UPDATE movies
                    SET
                        director = "Naoko Yamada"
                    WHERE title = "A Silent Voice";
UPDATE movies
                    SET
                        director = "Luca Guadagnino",
                        rt_ratings = '95'
                    WHERE title = "Call Me by Your Name";
UPDATE movies
                    SET
                        director = "Alan Barillaro"
                    WHERE title = "Piper";
UPDATE movies
                    SET
                        director = "Steven Spielberg",
                        rt_ratings = '97'
                    WHERE title = "Schindler's List";
UPDATE movies
                    SET
                        director = "Sergio Leone",
                        rt_ratings = '97'
                    WHERE title = "The Good, the Bad and the Ugly";
UPDATE movies
                    SET
                        director = "Daniel Rezende"
                    WHERE title = "Bingo: The King of the Mornings";
UPDATE movies
                    SET
                        director = "Federico Fellini",
                        rt_ratings = '97'
                    WHERE title = "La Dolce Vita";
UPDATE movies
                    SET
                        director = "Greg Berlanti",
                        rt_ratings = '92'
                    WHERE title = "Love, Simon";
UPDATE movies
                    SET
                        director = "Esteban Bravo, Beth David"
                    WHERE title = "In a Heartbeat";
UPDATE movies
                    SET
                        director = "Denis Villeneuve",
                        box_office = '$6,857,096',
                        rt_ratings = '93'
                    WHERE title = "Incendies";
UPDATE movies
                    SET
                        director = "Gus Van Sant",
                        rt_ratings = '97'
                    WHERE title = "Good Will Hunting";
UPDATE movies
                    SET
                        director = "Ingmar Bergman",
                        rt_ratings = '93'
                    WHERE title = "The Seventh Seal";
UPDATE movies
                    SET
                        director = "Peter Farrelly",
                        rt_ratings = '78'
                    WHERE title = "Green Book";
UPDATE movies
                    SET
                        director = "Joon-ho Bong",
                        rt_ratings = '100'
                    WHERE title = "Parasite";
UPDATE movies
                    SET
                        director = "Frank Darabont",
                        rt_ratings = '79'
                    WHERE title = "The Green Mile";
UPDATE movies
                    SET
                        director = "Quentin Tarantino",
                        rt_ratings = '91'
                    WHERE title = "Reservoir Dogs";
UPDATE movies
                    SET
                        director = "Tate Taylor",
                        box_office = '$169,705,587',
                        rt_ratings = '76'
                    WHERE title = "The Help";
UPDATE movies
                    SET
                        director = "Kenji Nagasaki",
                        rt_ratings = '100'
                    WHERE title = "My Hero Academia: Two Heroes";
UPDATE movies
                    SET
                        director = "Justin Baldoni",
                        rt_ratings = '55'
                    WHERE title = "Five Feet Apart";
UPDATE movies
                    SET
                        director = "Amy Andre"
                    WHERE title = "On My Skin";
UPDATE movies
                    SET
                        director = "Alfred Hitchcock",
                        rt_ratings = '97'
                    WHERE title = "Psycho";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '98'
                    WHERE title = "Rashomon";
UPDATE movies
                    SET
                        director = "David Fincher",
                        rt_ratings = '79'
                    WHERE title = "Fight Club";
UPDATE movies
                    SET
                        director = "Lana Wachowski, Lilly Wachowski",
                        rt_ratings = '88'
                    WHERE title = "The Matrix";
UPDATE movies
                    SET
                        director = "Roberto Benigni",
                        rt_ratings = '80'
                    WHERE title = "Life Is Beautiful";
UPDATE movies
                    SET
                        director = "Elia Kazan",
                        rt_ratings = '98'
                    WHERE title = "On the Waterfront";

UPDATE movies
                    SET
                        director = "Quentin Tarantino",
                        rt_ratings = '92'
                    WHERE title = "Pulp Fiction";
UPDATE movies
                    SET
                        director = "Joseph L. Mankiewicz",
                        rt_ratings = '100'
                    WHERE title = "All About Eve";
UPDATE movies
                    SET
                        director = "Paul Thomas Anderson",
                        box_office = '$40,133,435',
                        rt_ratings = '91'
                    WHERE title = "There Will Be Blood";
UPDATE movies
                    SET
                        director = "Christopher Nolan",
                        box_office = '$23,844,220',
                        rt_ratings = '92'
                    WHERE title = "Memento";
UPDATE movies
                    SET
                        director = "Olivier Nakache, Éric Toledano",
                        box_office = '$13,179,837',
                        rt_ratings = '75'
                    WHERE title = "The Intouchables";
UPDATE movies
                    SET
                        director = "Carl Theodor Dreyer",
                        rt_ratings = '98'
                    WHERE title = "The Passion of Joan of Arc";
UPDATE movies
                    SET
                        director = "Fritz Lang",
                        box_office = '$17,599',
                        rt_ratings = '100'
                    WHERE title = "M";
UPDATE movies
                    SET
                        director = "Vittorio De Sica",
                        rt_ratings = '97'
                    WHERE title = "Umberto D.";
UPDATE movies
                    SET
                        director = "Hayao Miyazaki",
                        rt_ratings = '94'
                    WHERE title = "My Neighbor Totoro";
UPDATE movies
                    SET
                        director = "Kar-Wai Wong",
                        rt_ratings = '90'
                    WHERE title = "In the Mood for Love";
UPDATE movies
                    SET
                        director = "Steven Spielberg",
                        rt_ratings = '93'
                    WHERE title = "Saving Private Ryan";
UPDATE movies
                    SET
                        director = "Stanley Donen, Gene Kelly",
                        rt_ratings = '100'
                    WHERE title = "Singin' in the Rain";
UPDATE movies
                    SET
                        director = "Stanley Kubrick",
                        rt_ratings = '98'
                    WHERE title = "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb";
UPDATE movies
                    SET
                        director = "Clyde Bruckman, Buster Keaton",
                        rt_ratings = '92'
                    WHERE title = "The General";
UPDATE movies
                    SET
                        director = "Akira Kurosawa",
                        rt_ratings = '71'
                    WHERE title = "Dersu Uzala";
UPDATE movies
                    SET
                        director = "Billy Wilder",
                        rt_ratings = '97'
                    WHERE title = "Double Indemnity";

In [9]:

###TESTING PURPOSES####
#get_5 titles to check their type and formatting
def get_5_titles():
    q = """SELECT title, director
            FROM movies
            LIMIT 5"""
    cnx, c = connect_to_db()
    c.execute(q)
    result = c.fetchall()
    c.close()
    cnx.close()
    return result

get_5_titles()

[('Lock, Stock and Two Smoking Barrels', None),
 ('Taxi Driver', None),
 ('Perfect Blue', None),
 ('Star Wars', None),
 ('Wolf Children', None)]

In [11]:
###TESTING PURPOSES####
#get_5 titles to check their type and formatting
def update_random():
    q = """UPDATE movies
            SET 
                director = 'Tom Hardy'
            WHERE title = 'Lock, Stock and Two Smoking Barrels'"""
    cnx, c = connect_to_db()
    c.execute(q)

update_random()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [ ]:
get_5_titles