In [7]:
import config
#DB instance creation
import mysql.connector
from mysql.connector import errorcode
import requests

In [8]:
def connect_to_db():
    cnx = mysql.connector.connect(
    host=config.host, user=config.user, passwd=config.password, database=config.DB_NAME)
    cursor = cnx.cursor()
    return cnx, cursor

In [17]:
#helper method, executes a sql query and returns the fetchall results
def execute_query(query):
    cnx, c = connect_to_db()
    c.execute(query)
    result = c.fetchall()
    #close
    c.close()
    cnx.close()
    return result

In [10]:
def get_genres_from_db():
    cnx, cursor = connect_to_db()
    query = """SELECT * 
                FROM genres"""
    cursor.execute(query)
    return cursor.fetchall()

get_genres_from_db()

[('10402', 'Music'),
 ('10749', 'Romance'),
 ('10751', 'Family'),
 ('10752', 'War'),
 ('10770', 'TV Movie'),
 ('12', 'Adventure'),
 ('14', 'Fantasy'),
 ('16', 'Animation'),
 ('18', 'Drama'),
 ('27', 'Horror'),
 ('28', 'Action'),
 ('35', 'Comedy'),
 ('36', 'History'),
 ('37', 'Western'),
 ('53', 'Thriller'),
 ('80', 'Crime'),
 ('878', 'Science Fiction'),
 ('9648', 'Mystery'),
 ('99', 'Documentary')]

In [24]:

def convert_list_from_tuples(tuple_list):
    """The movie titles are retrieved as a list of tupes, 
    return instead a list with just the title from the first half of each tuple"""
    title_list = []
    for item in tuple_list:
        title_list.append(item[0])
    return title_list
    

def get_all_movie_info():
    select_q = """
                SELECT *
                FROM movies
                """
    cnx, c = connect_to_db()
    c.execute(q)
    results = c.fetchall()
    cnx.close()
    c.close()
    return results

def get_movie_names():
    name_q = """
            SELECT title
            FROM movies"""
    cnx, c = connect_to_db()
    c.execute(name_q)
    results = c.fetchall()
    cnx.close()
    c.close()
    title_list = convert_list_from_tuples(results) 
    return title_list

get_movie_names()

['Lock, Stock and Two Smoking Barrels',
 'The Kid',
 'Léon: The Professional',
 'What Ever Happened to Baby Jane?',
 'Taxi Driver',
 'The Hunt',
 'The Legend of 1900',
 'Perfect Blue',
 'Back to the Future',
 'The Hidden Fortress',
 'The Third Man',
 'Star Wars',
 'Song of the Sea',
 'Wolf Children',
 'Scarface',
 'Chungking Express',
 'Cinema Paradiso',
 'The Prestige',
 'Shutter Island',
 'Memories of Murder',
 'Ran',
 'The Best of Youth',
 'Sanjuro',
 'Yojimbo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Two Towers',
 'The Lord of the Rings: The Return of the King',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Grave of the Fireflies',
 'High and Low',
 'Princess Mononoke',
 'Spirited Away',
 'Forrest Gump',
 'Nostalgia',
 'Mirror',
 'Stalker',
 'Paperman',
 'The Departed',
 'Harakiri',
 'Ugetsu',
 'The 400 Blows',
 'The Tale of the Princess Kaguya',
 'Citizen Kane',
 'The Dark Knight',
 'Interstellar',
 'Miracle in Cell No. 7',
 "It's a Wonderful Life",
 'Tel chi el telùn',
 'Woman in the Dunes',
 'Inglourious Basterds',
 'Tokyo Story',
 'Castaway on the Moon',
 'Neon Genesis Evangelion: The End of Evangelion',
 'A Clockwork Orange',
 'The Empire Strikes Back',
 'Metropolis',
 'Dilwale Dulhania Le Jayenge',
 'Nights of Cabiria',
 'The Red Shoes',
 'The Elephant Man',
 'The Wages of Fear',
 'The Imitation Game',
 'Dead Poets Society',
 'My Friends',
 'The Way He Looks',
 'The Godfather',
 'Some Like It Hot',
 'The Godfather: Part II',
 'Il Sorpasso',
 'Big Deal on Madonna Street',
 'Whiplash',
 'Nobody Knows',
 'Come and See',
 'Investigation of a Citizen Above Suspicion',
 'Room',
 'Mommy',
 'Inception',
 'The Silence of the Lambs',
 'The Shawshank Redemption',
 'Apocalypse Now',
 'Doctor Who: The Time of the Doctor',
 'The Apartment',
 'Love Exposure',
 'Casablanca',
 'The Circus',
 'The Handmaiden',
 'The Exterminating Angel',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Monsieur Verdoux',
 'Rome, Open City',
 'Modern Times',
 'The Treasure of the Sierra Madre',
 'The Second Mother',
 'Once Upon a Time in America',
 'Doctor Who: The Day of the Doctor',
 'Hacksaw Ridge',
 'Spider-Man: Into the Spider-Verse',
 'Lion',
 'Once Upon a Time in the West',
 'Loving Vincent',
 'Seven Samurai',
 'Alien',
 'Coco',
 'Three Billboards Outside Ebbing, Missouri',
 'Dangal',
 'Your Name.',
 'Witness for the Prosecution',
 'A Silent Voice',
 'Ikiru',
 'Eternal Sunshine of the Spotless Mind',
 'I Corti',
 'Das Boot',
 '12 Angry Men',
 'Call Me by Your Name',
 'Piper',
 "A Dog's Will",
 'Wonder',
 'The Invisible Guest',
 '8½',
 'The Pianist',
 "Schindler's List",
 'Bohemian Rhapsody',
 'Vertigo',
 'The Good, the Bad and the Ugly',
 'Bingo: The King of the Mornings',
 'Sherlock: The Final Problem',
 'A Taxi Driver',
 'La Dolce Vita',
 'Love, Simon',
 'Twin Peaks',
 'In a Heartbeat',
 'Incendies',
 'The Hate U Give',
 'Good Will Hunting',
 'The Seventh Seal',
 'Green Book',
 'The Boy Who Harnessed the Wind',
 "Howl's Moving Castle",
 'Parasite',
 'The Green Mile',
 'Bad Seeds',
 'Reservoir Dogs',
 'The Help',
 'My Hero Academia: Two Heroes',
 "One Flew Over the Cuckoo's Nest",
 'Bicycle Thieves',
 'Capernaum',
 'Five Feet Apart',
 'On My Skin',
 'Psycho',
 'Rashomon',
 'Fight Club',
 'Toto, Peppino, and the Hussy',
 'Minha Vida em Marte',
 'Rear Window',
 'The Lives of Others',
 'City of God',
 'Sunset Boulevard',
 'Full Metal Jacket',
 'The Matrix',
 'Wild Strawberries',
 'The Usual Suspects',
 'Life Is Beautiful',
 'On the Waterfront',
 'Paris, Texas',
 'Oldboy',
 'Pulp Fiction',
 'The Shining',
 'All About Eve',
 'American History X',
 'There Will Be Blood',
 'GoodFellas',
 'Memento',
 'The Intouchables',
 'The Passion of Joan of Arc',
 'Persona',
 'Se7en',
 'Silenced',
 'Judgment at Nuremberg',
 'M',
 'Umberto D.',
 'My Neighbor Totoro',
 'In the Mood for Love',
 'Saving Private Ryan',
 'The Lion King',
 "Singin' in the Rain",
 'Andrei Rublev',
 'City Lights',
 'The Great Dictator',
 "Michael Jackson's Thriller",
 'Hotarubi no Mori e',
 'The Sting',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the ',
 'The General',
 'Paths of Glory',
 'Dersu Uzala',
 'Gladiator',
 'Sherlock, Jr.',
 'Double Indemnity']

In [13]:
######SQL QUERIES#########

def get_most_popular_movie():
    q = """SELECT * 
            FROM movies
            ORDER BY popularity DESC
            LIMIT 5
        """
    cnx, c = connect_to_db()
    c.execute(q)
    results = c.fetchall()
    cnx.close()
    c.close()
    return results

get_most_popular_movie()

def get_genre_counts():
    q = """SELECT genres.name AS genre_name, COUNT(*) 
        FROM genre_instances
        JOIN genres
        USING (genre_id)
        GROUP BY genre_instances.genre_id
    """
    cnx, c = connect_to_db()
    c.execute(q)
    results = c.fetchall()
    c.close()
    cnx.close()
    return results

get_genre_counts()

[('Music', 5),
 ('Romance', 30),
 ('Family', 13),
 ('War', 14),
 ('TV Movie', 1),
 ('Adventure', 23),
 ('Fantasy', 19),
 ('Animation', 21),
 ('Drama', 149),
 ('Horror', 6),
 ('Action', 27),
 ('Comedy', 42),
 ('History', 15),
 ('Western', 3),
 ('Thriller', 34),
 ('Crime', 32),
 ('Science Fiction', 17),
 ('Mystery', 20)]

In [20]:
def get_most_popular_genres():
    q = """
        SELECT genres.name, AVG(popularity) AS avg_popularity
        FROM genre_instances
        JOIN genres 
        USING (genre_id)
        JOIN movies
        USING (movie_id)
        GROUP BY genre_id
        ORDER BY avg_popularity DESC;
        """
    return execute_query(q)

get_most_popular_genres()

[('Science Fiction', 48.74058858086081),
 ('Adventure', 44.2043046536653),
 ('Action', 38.01070398754544),
 ('Fantasy', 22.458947589522914),
 ('Family', 22.250308000124416),
 ('Music', 22.177800369262695),
 ('Crime', 20.312937647104263),
 ('Thriller', 20.25147064994363),
 ('Western', 19.925333658854168),
 ('War', 18.92850008181163),
 ('Animation', 18.287238245918637),
 ('Drama', 16.203590624284423),
 ('Mystery', 16.20164997577667),
 ('Horror', 15.95549980799357),
 ('History', 15.361400032043457),
 ('Comedy', 14.026738007863363),
 ('Romance', 13.827366721630096),
 ('TV Movie', 6.376999855041504)]

In [ ]:
def insert_second_data_to_table()